<!-- Header -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light nama-pengantin" data-aos="zoom-in-up" data-aos-duration="1500">Della & Reno</h1>
        <p class="text-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          <span>
          
          </span>
          
        <p>
      </div>
    </div>
  </div>
</header>
