<section class="section-4" id="section4">
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-2 pr-0 pl-0">
      <%= image_tag "daun3.png", class: "img-fluid daun3", alt: "Daun kiri", :data => {:aos => 'fade-down-right', :aos_duration => '1500' } %>
      </div>
      <div class="col-8 text-center py-5">
        <h2 data-aos="fade-down" data-aos-duration="1500" class="font-weight-light header-sec-4">Will You Attend?</h2>
        <% if @undangan.kehadiran == true %>
            <p class="cktext">Your responds: <span class="badge badge-pill badge-success">Accept with pleasure</span></p>
            <p class="cktext">Thank you!</p>
        <% end %>
        <% if @undangan.kehadiran == false %>
            <p class="cktext">Your responds: <span class="badge badge-pill badge-success">Decline with regrets</span></p>
            <p class="cktext">Thank you!</p>
        <% end %>
        <h2 data-aos="fade-up" data-aos-duration="1500" class="font-weight-light header-sec-4">How many person?</h2>
        <div data-aos="fade-up" data-aos-duration="1500" class='persons mb-2'>
          <input disabled class='counter bg-white' placeholder="0" value='<%= @undangan.jumlah_tamu %>' />
        </div>       
        <%= link_to 'Edit', edit_undangan_path(@undangan, anchor: "section4"), :class => "btn btn-outline-light", method: :get, :data => {:aos => 'fade-up', :aos_duration => '1500' } %>
        <p data-aos="fade-up" data-aos-duration="1500" class="getinvitation-subtitle mt-5">
          We suggest you to use your most comfortable footwear.
        </p>
      </div>
      <div class="col-2 pr-0 pl-0 text-right">
        <%= image_tag "daun4.png", class: "img-fluid daun4", alt: "Daun kanan", :data => {:aos => 'fade-down-left', :aos_duration => '1500' } %>
      </div>
    </div>
  </div>
</section>