<section class="section-5">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-12 text-center">
    <h1 data-aos="zoom-out-down" data-aos-duration="1500" class="font-weight-light quotes">Being deeply loved by someone gives you strength, while loving someone deeply gives you courage.</h1>
    <p data-aos="fade-up" data-aos-duration="1500" class="text-center">
      <span>
      <%= image_tag "daun1.png", class: "img-fluid daun1", alt: "Daun kiri" %>
      </span>
      <%= image_tag "daun2.png", class: "img-fluid daun2", alt: "Daun kanan" %>
    <p>
  </div>
</div>
  </div>
</section>