<!-- Yang diundang -->
<section class="section-1">
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-2 pr-0 pl-0">
      <img data-aos="fade-down-right" data-aos-duration="1500" src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun3" alt="Daun kiri">
      </div>
      <div class="col-8 text-center py-5">
        <% if @undangan %>
        <h2 class="font-weight-light nama-undangan" data-aos="fade-down" data-aos-duration="1500">Dear <%=@undangan.name %></h2>
        <p class="text1 pb-5" data-aos="fade-down" data-aos-duration="1500">You are invited to our wedding</p>
        <% end %>
        <p class="text2" data-aos="fade-up" data-aos-duration="1500">Counting the minutes for the big day</p>
        <p id="timer" class="timer mb-0" data-aos="fade-up" data-aos-duration="1500"></p>
        <p data-aos-duration="1500" data-aos="fade-up" class="timer-1"><span class="pl-3">Days</span><span class="pl-3">Hours</span><span class="pl-3">Minutes</span><span class="pl-3">Seconds</span></p>
      </div>
      <div class="col-2 pr-0 pl-0 text-right">
        <img data-aos-duration="1500" data-aos="fade-down-left" src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun4" alt="Daun kanan">
      </div>
    </div>
  </div>
</section>