<section class="section-2">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="font-weight-light header-sec-2 mb-0" data-aos="fade-down" data-aos-duration="1500">About the Couple</h2>
        <p data-aos="fade-down" data-aos-duration="1500" class="text-center mb-0">
          <span>
          <%= image_tag "daun1.png", class: "img-fluid daun1", alt: "Daun kiri" %>
          </span>
          <%= image_tag "daun2.png", class: "img-fluid daun2", alt: "Daun kanan" %>
        <p>
      </div>
    </div>
    <div class="row">
      <div class="col-5 text-center justify-content-center align-items-center">
        <p>
          <%# <%= image_tag "mutia_square.png", class: "img-fluid mutia-img", alt: "mutia image", :data => {:aos => 'fade-right', :aos_duration => '1500' } %>
        </p>
        <p>
          <h5 data-aos="fade-right" data-aos-duration="1500" class="nama-pengantin-1">Della Puspa</h5>
        </p>
        <p data-aos="fade-right" data-aos-duration="1500" class="about-pengantin">putri ketiga dari Bpk. H. Darul Kutni & Ibu. Hj. Djamilah</p>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <div class="icon-love" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="500">
          <i class="fas fa-heart"></i>
        </div>
      </div>
      <div class="col-5 text-center justify-content-center align-items-center">
        <p>
          <%# <%= image_tag "angga_square.png", class: "img-fluid angga-img", alt: "angga image", :data => {:aos => 'fade-left', :aos_duration => '1500' } %>
        </p>
        <p>
          <h5 data-aos="fade-left" data-aos-duration="1500" class="nama-pengantin-1">Dimas Reno</h5>
        </p>
        <p data-aos="fade-right" data-aos-duration="1500" class="about-pengantin">putra ketiga dari Bpk. H. Edy Suharna & Ibu. Hj. Sri Rahayu</p>
      </div>
    </div>
  </div>
</section>
