<!-- Yang diundang -->
<section class="section-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center py-5">
        <h2 class="font-weight-light getinvitation-title" data-aos="fade-down" data-aos-duration="1500">Sehubungan dengan pandemik covid 19, maka dengan sangat berat hati dan demi keselamatan serta kesehatan bersama, acara ini hanya dihadiri oleh keluarga besar kedua mempelai.</h2>
        <p data-aos="fade-down" data-aos-duration="1500" class="getinvitation-subtitle">Kami mohon maaf serta mohon doa restu dari bapak, ibu dan teman-teman sekalian.</p>
        <div data-aos="fade-down", data-aos-duration="1500">

        </div>
      </div>
    </div>
  </div>
</section>