<section class="section-3">
  <div class="container pl-0 pr-0">
    <div class="row align-items-center">
      <div class="col-md-8 pr-0 pl-0 text-center py-2">
      <div data-aos="fade-right" data-aos-duration="1500" style="overflow:hidden;width: 100%;position: relative;"><iframe class="iframe-maps" src="https://maps.google.com/maps?hl=en&amp;q=Wira Garden+(Wira Garden Location)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://googlemapsembed.net/" rel="nofollow">Embed Google Map</a> </small></div><style>.nvs{position:relative;text-align:right;height:325px;width:643px;} #gmap_canvas img{max-width:none!important;background:none!important}</style></div>
      </div>
      <div class="col-md-4 py-4 text-center">
        <h2 data-aos="fade-down" data-aos-duration="1500" class="font-weight-light header-sec-3">Wira Garden</h2>
        <p data-aos="fade-down" data-aos-duration="1500" class="text-3">7 November 2020</p>
        <% if @undangan %>
        <p data-aos="fade-up" data-aos-duration="1500" class="text-4"><span><%= @undangan.jam_mulai %></span> <span>-</span> <span><%= @undangan.jam_selesai %></span></p>
        <% end %>
        <p data-aos="fade-up" data-aos-duration="1500" class="text-5">Jl. Wan Adburahman, Batu Putu, Teluk Betung Utara, Batu Putuk, Kec. Tlk. Betung Utara, Kota Bandar Lampung, Lampung.</p>
      </div>
    </div>
  </div>
</section>