
<section class="section-4">
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-2 pr-0 pl-0">
      <img data-aos="fade-down-right" data-aos-duration="1500" src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun3" alt="Daun kiri">
      </div>
      <div class="col-8 text-center py-5">
        <h2 data-aos="fade-down" data-aos-duration="1500" class="font-weight-light header-sec-4">Will You Attend?</h2>
        <div class="custom-form-check justify-content-center">
          <div data-aos="fade-right" data-aos-duration="1500" class="form-check form-check-inline">
            <input class="form-check-input ck" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label cktext" for="inlineCheckbox1">Accept with pleasure</label>
          </div>
          <div data-aos="fade-left" data-aos-duration="1500" class="form-check form-check-inline">
            <input class="form-check-input ck" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label cktext" for="inlineCheckbox2">Decline with regrets</label>
          </div>
        </div>
        <h2 data-aos="fade-up" data-aos-duration="1500" class="font-weight-light header-sec-4">How many person?</h2>
        <div data-aos="fade-up" data-aos-duration="1500" class='persons mb-2'>
          <button class='down_count btn btn-info' title='Down'><i class="fas fa-minus"></i></button>
          <input class='counter' type="text" placeholder="value..." value='1' />    
          <button class='up_count btn btn-info' title='Up'><i class="fas fa-plus"></i></button>
        </div>
        <button data-aos="fade-up" data-aos-duration="1500" class="btn btn-outline-light" type="submit">Submit</button>
      </div>
      <div class="col-2 pr-0 pl-0 text-right">
        <img data-aos="fade-down-left" data-aos-duration="1500" src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun4" alt="Daun kanan">
      </div>
    </div>
  </div>
</section>