<section class="section-3">
  <div class="container pl-0 pr-0">
    <div class="row align-items-center">
      <div class="col-md-8 pr-0 pl-0 text-center py-2">
      <div data-aos="fade-right" data-aos-duration="1500" style="overflow:hidden;width: 100%;position: relative;">


        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sambel%20hejo%20sambel%20dadak%20cipinang%20baru&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
          <small style="line-height: 1.8;font-size: 0px;background: #fff;">Powered by <a href="https://www.embedgooglemap.net">embedded map</a></small>
        </div>
        <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
      </div>


      </div>
      <div class="col-md-4 py-4 text-center">
        <h2 data-aos="fade-down" data-aos-duration="1500" class="font-weight-light header-sec-3">Sambel Hejo Sambel Dadak</h2>
        <p data-aos="fade-down" data-aos-duration="1500" class="text-3">17 December 2020</p>
        <% if @undangan %>
        <p data-aos="fade-up" data-aos-duration="1500" class="text-4"><span><%= @undangan.jam_mulai %></span> <span>-</span> <span><%= @undangan.jam_selesai %></span></p>
        <% end %>
        <p data-aos="fade-up" data-aos-duration="1500" class="text-5">Jl. Cipinang Baru Utara No.35, RT.9/RW.3, Cipinang, Kec. Pulo Gadung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13240, Indonesia</p>
      </div>
    </div>
  </div>
</section>
