
<!-- Header -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light nama-pengantin" data-aos="zoom-in-up" data-aos-duration="1500">Angga & Yara</h1>
        <p class="lead tgl-menikah" data-aos="fade-up" data-aos-duration="1500">7 November 2020</p>
        <p class="text-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          <span>
          <img src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun1" alt="Daun kiri">
          </span>
          <img src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun2" alt="Daun kanan">
        <p>
      </div>
    </div>
  </div>
</header>

<!-- Yang diundang -->
<section class="section-1">
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-2 pr-0 pl-0">
      <img data-aos="fade-down-right" data-aos-duration="1500" src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun3" alt="Daun kiri">
      </div>
      <div class="col-8 text-center py-5">
        <h2 class="font-weight-light nama-undangan" data-aos="fade-down" data-aos-duration="1500">Dear <%= @kehadiran.undangan.name %></h2>
        <p class="text1 pb-5" data-aos="fade-down" data-aos-duration="1500">You are invited to our wedding</p>
        <p class="text2" data-aos="fade-up" data-aos-duration="1500">Counting the minutes for the big day</p>
        <p id="timer" class="timer mb-0" data-aos="fade-up" data-aos-duration="1500"></p>
        <p data-aos-duration="1500" data-aos="fade-up" class="timer-1"><span class="pl-3">Days</span><span class="pl-3">Hours</span><span class="pl-3">Minutes</span><span class="pl-3">Seconds</span></p>
      </div>
      <div class="col-2 pr-0 pl-0 text-right">
        <img data-aos-duration="1500" data-aos="fade-down-left" src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun4" alt="Daun kanan">
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="font-weight-light header-sec-2 mb-0" data-aos="fade-down" data-aos-duration="1500">About the Couple</h2>
        <p data-aos="fade-down" data-aos-duration="1500" class="text-center mb-0">
          <span>
          <img src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun1" alt="Daun kiri">
          </span>
          <img src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun2" alt="Daun kanan">
        <p>
      </div>
    </div>
    <div class="row">
      <div class="col-5 text-center justify-content-center align-items-center">
        <p>
          <img data-aos="fade-right" data-aos-duration="1500" class="mutia-img" src="https://drive.google.com/uc?id=1hVnPY7tJOvCDWpX8SncdqXy1u6wo5pro" class="img-fluid" alt="Mutia image">
        </p>
        <p>
          <h5 data-aos="fade-right" data-aos-duration="1500" class="nama-pengantin-1">Mutiara Romana Kusuma</h5>
        </p>
        <p data-aos="fade-right" data-aos-duration="1500" class="about-pengantin">A happy florist who likes crafting and watching k-dramas.</p>
        <p data-aos="fade-right" data-aos-duration="1500">
          <span class="pr-3"><i class="fab fa-instagram sosmed-logo"></i></span>
          <span class="pr-3"><i class="fab fa-twitter sosmed-logo"></i></span>
          <span class="pr-3"><i class="fab fa-facebook sosmed-logo"></i></span>
        </p>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <div class="icon-love" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="500">
          <i class="fas fa-heart"></i>
        </div>
      </div>
      <div class="col-5 text-center justify-content-center align-items-center">
        <p>
          <img data-aos="fade-left" data-aos-duration="1500" class="angga-img" src="https://drive.google.com/uc?id=1PhZTfQ5SZKPEmIbJOZulnHFxUJC3B4nJ" class="img-fluid" alt="Angga image">
        </p>
        <p>
          <h5 data-aos="fade-left" data-aos-duration="1500" class="nama-pengantin-1">Antonius Angga Kurniawan</h5>
        </p>
        <p data-aos="fade-right" data-aos-duration="1500" class="about-pengantin">A dedicated lecturer who always gives his all when teaching his students.</p>
        <p data-aos="fade-right" data-aos-duration="1500">
          <span class="pr-3"><i class="fab fa-instagram sosmed-logo"></i></span>
          <span class="pr-3"><i class="fab fa-twitter sosmed-logo"></i></span>
          <span class="pr-3"><i class="fab fa-facebook sosmed-logo"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="container pl-0 pr-0">
    <div class="row align-items-center">
      <div class="col-md-8 pr-0 pl-0 text-center py-2">
      <div data-aos="fade-right" data-aos-duration="1500" style="overflow:hidden;width: 100%;position: relative;"><iframe class="iframe-maps" src="https://maps.google.com/maps?hl=en&amp;q=Wira Garden+(Wira Garden Location)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://googlemapsembed.net/" rel="nofollow">Embed Google Map</a> </small></div><style>.nvs{position:relative;text-align:right;height:325px;width:643px;} #gmap_canvas img{max-width:none!important;background:none!important}</style></div>
      </div>
      <div class="col-md-4 py-4 text-center">
        <h2 data-aos="fade-down" data-aos-duration="1500" class="font-weight-light header-sec-3">Wira Garden</h2>
        <p data-aos="fade-down" data-aos-duration="1500" class="text-3">7 November 2020</p>
        <p data-aos="fade-up" data-aos-duration="1500" class="text-4"><span><%= @kehadiran.undangan.jam_mulai %></span> <span>-</span> <span><%= @kehadiran.undangan.jam_selesai %></span></p>
        <p data-aos="fade-up" data-aos-duration="1500" class="text-5">Jl. Wan Adburahman, Batu Putu, Teluk Betung Utara, Batu Putuk, Kec. Tlk. Betung Utara, Kota Bandar Lampung, Lampung.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-4">
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-2 pr-0 pl-0">
      <img data-aos="fade-down-right" data-aos-duration="1500" src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun3" alt="Daun kiri">
      </div>
      <div class="col-8 text-center py-5">
        <%= render 'form', kehadiran: @kehadiran %>
      </div>
      <div class="col-2 pr-0 pl-0 text-right">
        <img data-aos="fade-down-left" data-aos-duration="1500" src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun4" alt="Daun kanan">
      </div>
    </div>
  </div>
</section>

<section class="section-5">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-12 text-center">
    <h1 data-aos="zoom-out-down" data-aos-duration="1500" class="font-weight-light quotes">Being deeply loved by someone gives you strength, while loving someone deeply gives you courage.</h1>
    <p data-aos="fade-up" data-aos-duration="1500" class="text-center">
      <span>
      <img src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun1" alt="Daun kiri">
      </span>
      <img src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun2" alt="Daun kanan">
    <p>
  </div>
</div>
  </div>
</section>

<footer id="sticky-footer" class="py-4 bg-grey">
  <div class="container text-center">
    <small>Copyright &copy; Yara dan Angga</small>
  </div>
</footer>

